@import "fish.css";

body {
  background-color: #fff;
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    
}

img {
  height: 100px;
}

h1, h2, h3 {
  text-align: center;
}

li {
  list-style-type: none;
}

header {
  font: 50px black;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSI_9PukC1Lr3G4XcA1uDMz-85Kw9iO4KT7YA&usqp=CAU");
}

.grid {
  border: olive 1px solid;
}

.fish__grid {
  display: flex;
}

p {
  display: flex;
  flex-direction: column;
}

.tips {
  display: flex;
  margin-right: 3px
}